.Names {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    margin-right: 10px;
}
.week {
    font-weight: 900;
    font-size: 24px;
}
.list {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
ul {
    list-style: none;
}
.body {
    display: flex;
}
.total {
    font-weight: 900;
    font-size: 30px;
}
body {
    padding: 50px;
}
.wrong {
    background-color: red;
}
.right {
    background-color: green;
}