.Names {
    display: flex;
    justify-content: space-around;
    font-size: 34px;
    font-weight: 900;
    color: white;
}
.week {
    font-weight: 900;
    font-size: 24px;
    background-color: white;
}
.list {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
ul {
    list-style: none;
    font-weight: bold;
}
.body {
    display: flex;
}
.total {
    font-weight: 900;
    font-size: 30px;
    background-color: white;
}
body {
    padding: 50px;
}
.wrong {
    background-color: red;
    font-weight: bold;
}
.right {
    background-color: green;
    font-weight: bold;
}
.boo {
    margin-right: 100px;
}
.matthew {
    margin-right: 290px;
}
.dad {
    margin-left: 0px;
}
.mark {
    margin-left: 140px;
}
img {
    height: 100px;
    margin-left: 745px;
}
.uknown {
    background-color: white;
    font-weight: 900;
}
.poop {
    margin-left: 462px;
}


